<div class="col">
    @if(this.task){
        <div class="card card-body">
            <form [formGroup]="editTaskForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <div class="col">
                                <h4 class="list-group-item-heading text-nowrap">{{ task.title }} ({{ ('task.type.'+task.type.value | translate) }})</h4>
                            </div>
                            @if (editable) {
                                <div class="col">
                                    @if (!editMode) {
                                        <button class="btn btn-secondary" (click)="toggleEditMode()">{{ ('task.editTask' | translate) }}</button>
                                    }
                                    @else {
                                        <input class="form-control" [disabled]="!editTaskForm.valid" class="btn btn-primary" type="submit" value="{{ ('task.saveTask' | translate) }}">
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-11">
                        <p class="list-group-item-text"><span class="badge bg-primary">{{ ('task.status.'+task.status.value | translate) }}</span> {{ task.description }}</p>
                    </div>
                    @if (userRole === "Admin") {
                        <div class="col-1">
                            <button class="btn btn-danger" 
                            (click)="this.task !== null && this.task.id !== null ? onDeleted(this.task.id) : true">{{ ('task.deleteTask' | translate) }}</button>
                        </div>
                    }
                    <div class="row d-flex flex-row-reverse">
                        <div class="col">
                            @if(task.assignedUser) {
                                <div class="row"><span>{{ ('task.assignedTo' | translate) }}: {{task.assignedUser.firstName + ' ' + task.assignedUser.lastName}} </span></div>
                            }
                            @else {
                                <div class="row"><span>{{ ('task.unassigned' | translate) }}</span></div>
                            }
                            <div class="row"><span>{{ ('task.createdOn' | translate) }}: {{task.createdAt | date:'MM/dd/yyyy' }} </span></div>
                            <div class="row"><span>{{ ('task.modifiedOn' | translate) }}: {{task.updatedAt |  date:'MM/dd/yyyy'}} </span></div>
                        </div>
                    </div>
                </div>
                @if (editable && this.editMode) {
                    <div class="row">
                        <div class="col-xs-6">
                            @if (userRole === "Admin") {
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="title">{{ ('task.title' | translate) }}</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" id="title" name="title" formControlName="title">
                                        @if (editTaskForm.get('title')?.errors) {
                                            @if (editTaskForm.get('title')?.errors?.['required'] && editTaskForm.get('title')?.touched) {
                                                <span class="pull-right help-block">{{ ('task.titleRequired' | translate) }}</span>
                                            }
                                            @if (editTaskForm.get('title')?.errors?.['titleUnique']) {
                                                <span class="pull-right help-block">{{ ('task.titleExists' | translate) }}</span>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="description">{{ ('task.description' | translate) }}</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" id="description" name="description" formControlName="description">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="type">{{ ('task.taskType' | translate) }}</label>
                                    <div class="col-sm-10">
                                        <select class="form-control form-select" name="type" id="type" formControlName="type">
                                            @for (taskType of taskTypes; track taskType) {
                                                <option 
                                                [value]="taskType.value">{{ ('task.type.'+taskType.value | translate) }}</option>
                                            }
                                        </select>
                                        @if (!editTaskForm.get('type')?.valid && editTaskForm.get('type')?.touched) {
                                            <span class="pull-right help-block">{{ ('task.typeRequired' | translate) }}</span>
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="status">{{ ('task.taskStatus' | translate) }}</label>
                                    <div class="col-sm-10">
                                        <select class="form-control form-select" name="status" id="status" formControlName="status">
                                            @for (taskStatus of taskStatuses; track taskStatus) {
                                                <option
                                                [value]="taskStatus.value">{{ ('task.status.'+taskStatus.value | translate) }}</option>
                                            }
                                        </select>
                                        @if (!editTaskForm.get('status')?.valid && editTaskForm.get('status')?.touched) {
                                            <span class="pull-right help-block">{{ ('task.statusRequired' | translate) }}</span>
                                        }
                                    </div>
                                </div>
                            }
                            @if (userRole === "Manager") {
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="assignedUser">{{ ('task.assignedUser' | translate) }}</label>
                                    <div class="col-sm-10">
                                        <select class="form-control form-select" name="assignedUser" id="assignedUser" formControlName="assignedUser">
                                            <option [value]="null">None</option>
                                            @for (assignableUser of assignableUsers; track assignableUser) {
                                                <option
                                                [value]="assignableUser.id">{{assignableUser.firstName + ' ' + assignableUser.lastName}}</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </form>
        </div>
    }
    @else {
        <!-- Task not found template -->
    }
</div>