<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create new task
            </div>
            <div class="panel-body">
                <form action="/task" method="post">
                    <label for="title">Task title</label><br>
                    <input type="text" id="title" name="title" #taskTitle><br>
                    <label for="description">Task description</label><br>
                    <input type="text" id="description" name="description" #taskDescription><br>
                    <label for="type">Task type</label><br>
                    <input type="text" id="type" name="type" #taskType><br>
                    <label for="status">Task Status</label><br>
                    <input type="text" id="status" name="status" #taskStatus><br>
                    <input class="pull-right" type="button" (click)="onCreateTask(taskTitle, taskDescription, taskType, taskStatus)" value="Submit">
                </form>
            </div>
        </div> 
    </div>
</div>