<div class="row list-group-item">
    <div class="col">
        <div class="row">
            <a href="#" class="clearfix">
                <div class="col-3 pull-left">
                    <h4 class="list-group-item-heading">{{ taskItem.title }} ({{taskItem.type}})</h4>
                </div>
            </a>
            <div class="col-3">
                <span class="pull-right">{{ taskItem.createdOn.toDateString() }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <p class="list-group-item-text">{{ taskItem.description }}</p>
            </div>
            <div class="col-3">
                <button class="btn btn-danger pull-right" (click)="onDeleted()">Delete</button>
            </div>
        </div>
    </div>
</div>