<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Tasks
            </div>
            <div class="panel-body">
                @for (task of taskList.tasks; track task) {
                    <app-task-item 
                    (taskDeletedEvent)="onDeleted(task.title)" 
                    [taskItem]="task"
                    ></app-task-item>
                }
            </div>
        </div>
    </div>
</div>
