<div class="col">
    @if(this.user){
        <div class="card card-body">
            <div class="row d-flex flex-row-reverse">
                <div class="col">
                    <div class="row">
                        <span>First name: {{user.firstName}} </span>
                    </div>
                    <div class="row">
                        <span>Last name: {{user.lastName}} </span>
                    </div>
                    <div class="row">
                        <span>Role: {{user.role.displayName}} </span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>