<div class="col">
    @if(this.user){
        <div class="card card-body">
            <div class="row d-flex flex-row-reverse">
                <div class="col">
                    <div class="row">
                        <span>{{ "user.firstName" | translate}}: {{user.firstName}} </span>
                    </div>
                    <div class="row">
                        <span>{{ "user.lastName" | translate }}: {{user.lastName}} </span>
                    </div>
                    <div class="row">
                        <span>{{ "user.roles" | translate }}: {{getUserRoleNames().join(", ")}} </span>
                    </div>
                    @if (!this.editMode && this.roleEditable) {
                        <div class="row float-end">
                            <button class="btn btn-secondary" (click)="toggleEditMode()">{{ "user.editUser" | translate }}</button>
                        </div>
                    }
                </div>
            </div>
            @if (this.editMode) {
                <form  (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group row">
                                <label class="col-sm-1 col-form-label" for="roles">{{ "user.roles" | translate }}</label>
                                <div class="col-sm-11">
                                    @for (role of allRoles; track role; let i = $index;) {
                                        <div class="form-check form-switch">
                                            <input 
                                                class="form-check-input" 
                                                type="checkbox"
                                                [id]="role.value"
                                                [name]="role.value"
                                                [disabled]="rolesCheckboxAttributes[role.value].disabled"
                                                [checked]="rolesCheckboxAttributes[role.value].checked"
                                                (change)="onRoleChange($event, role.value)">
                                            <label class="form-check-label" for="flexSwitchCheckDefault">{{role.displayName}}</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row float-end">
                        <input class="form-control" class="btn btn-primary" type="submit" [value]="'user.saveUser' | translate">
                    </div>
                </form>
            }
        </div>
    }
</div>